
<div class="blue-box"></div>

<div class="header">
  <h1>Messages</h1>

  <div class="delete-all text-right">
    <button type="button" class="delete-messages btn btn-default">Delete All Messages</button>

    <%#= link_to "Delete All Messages", user_messages_destroy_path, class: "delete-messages btn btn-default" %>
  </div>
</div>

<div class="group-wrapper">

<!-- FOR AJAX CALLS -->
<%= javascript_include_tag 'messages' %>

  <div class="col-md-8 col-md-offset-2">
    <div class="custom-panel">
      <div class="custom-panel-border"></div>
      <div class="custom-panel-content">

        <!-- GROUP MODULE -->
      <% if @user.messages != [] %>
        <% @user.messages.reverse.each do |message| %>
              <div id="message-<%= message.id %>" class="viewed-<%= message.viewed? %>  group-box message-box col-sm-12">
                <div class="top-box">
                  <div class="group-img-box">
                    <%= image_tag @users.find(message.sender).image_url, class: "group-img" %>
                  </div>
                  <div class="right-text">
                    <span><%= message.content %></span>
                  </div>
                </div>
              </div>
            <div class="join-btn-wrap">
              <div class="delete-btn join-btn text-right">
                 <button id="<%= message.id %>" type="button" class="delete-message btn btn-default">Delete</button>
                
              </div>
            </div>
        <% end %><!-- end GROUP MODULE -->
      <% else %>
        <div class="group-box error-box tweet-box col-sm-12">
          <div class="top-box text-center">
            <h3>You don't have any messages</h3>
            <p>This is so sad</p>
          </div>
        </div>
      <% end %>
    
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

</div><!-- end GROUP WRAPPER -->