<!-- GROUP MODULE -->
<% @groups.each do |group| %>
  <%= link_to(group) do %>
      <div class="group-box col-sm-12">
        <div class="top-box">
          <div class="group-img-box">
            <%= image_tag group.admin.image_url, class: "group-img" %>
          </div>
          <div class="right-text">
            <h3><%= group.name.titleize %> <span>| <%= group.purpose.titleize %></span></h3>
            <ul>
              <li><strong>Created by:</strong> <%= group.admin.name %></li>
              <div style="height:10px;"></div>
              <li><strong>Money raised to date: </strong><%= number_to_currency(group.dollar_balance) %></li>
              <li><strong>Triggers: </strong><%= group.triggers.pluck(:name)[0..4].join(", ") %></li>
              <li><strong>Members: </strong><%= group.users.pluck(:name)[0..4].join(", ") %></li>
            </ul>
          </div>
        </div>
        <div class="cost-per-tweet text-center">
          <h4>
            <%= number_to_currency(group.dollar_amount) %>
          </h4>
          <p><em>per tweet</em></p>
        </div>
      </div>
  <% end %>
    <div class="join-btn-wrap">
      <div class="join-btn text-right">
        <button id="<%= group.id %>" class="<%= @user.membership(group) %> btn btn-default"><%= @user.action_for_group(group) %></button> 
      </div>
    </div>
<% end %><!-- end GROUP MODULE -->