<h1>Edit <%= @group.name %></h1>

<%= form_tag group_path, :method => "PATCH" do %>  

  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name", @group.name %>
  </p>
  
  <p>
    <%= label_tag "purpose" %>
    <%= text_field_tag "purpose" %>
  </p>
  
  <p>
    <%= submit_tag "Edit group" %>
</p>

<% end %>