<div class="blue-box"></div>

<div class="header">
  <h1>Group Index</h1>

  <div class="create-group text-right">
    <%= link_to "Create a group", new_group_path, class: "btn btn-default" %>
  </div>
</div>

<div class="group-wrapper">

<!-- FOR AJAX CALLS -->
<%= javascript_include_tag "group_index" %>

  <div class="col-md-8 col-md-offset-2">
    <div class="custom-panel">
      <div class="custom-panel-border"></div>
      <div class="custom-panel-content">

        <!-- GROUP MODULE -->
        <% @groups.reverse.each do |group| %>
          <%= link_to(group) do %>
              <div class="group-box col-sm-10">
                <div class="top-box">
                  <div class="group-img-box">
                    <%= image_tag User.find(message.sender).image_url, class: "group-img" %>
                  </div>
                  <div class="right-text">
                    <h3><%= group.name %> <span>| <%= group.purpose %></span></h3>
                    <ul>
                      <li><strong>Created by:</strong> <%= group.admin.name %></li>
                      <div style="height:10px;"></div>
                      <li><strong>Money raised to date: </strong><%= number_to_currency(group.dollar_balance) %></li>
                      <li><strong>Triggers: </strong><%= group.triggers.pluck(:name)[0..4].join(", ") %></li>
                      <li><strong>Members: </strong><%= group.users.pluck(:name)[0..4].join(", ") %></li>
                    </ul>
                  </div>
                </div>
                <div class="cost-per-tweet text-center">
                  <h4>
                    <%= number_to_currency(group.dollar_amount) %>
                  </h4>
                  <p><em>per tweet</em></p>
                </div>
              </div>
          <% end %>
              <div class="col-sm-2">
              <div class="join-btn">
              <button type="button" id="<%= group.id %>" class="<%= @user.membership(group) %> btn btn-default"><%= @user.action_for_group(group) %></button> 
            </div>
              </div>
        <% end %><!-- end GROUP MODULE -->
    
      </div>
    </div>

  </div>

  <div class="clearfix"></div>

</div><!-- end GROUP WRAPPER -->