<h1>Create a group</h1>

<%= form_tag groups_path do %>  

  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name"%>
  </p>

  <p>
    <%= label_tag "Triggers" %>
    <%= text_field_tag "triggers"%>
  </p>
  
  <p>
    <%= submit_tag "Create group" %>
</p>

<% end %>