<h1>Create a group</h1>

<%= form_tag groups_path do %>  

  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name"%>
  </p>

  <div id="triggers">
    <%= label_tag "triggers" %>
    <p class="trigger">
      <input name="triggers[]" type="text" placeholder="add a trigger">
    <button class="add-trigger" type="button">+</button ></p>
  </div>

  <p>
    <%= submit_tag "Create group" %>
  </p>

<% end %>