This is the show page!

<h1><%= @group.name %></h1>
<%= @triggers.pluck(:name) %>

<ul>
  <% @group.tweets.each do |tweet| %>
    <li><%= tweet.content %> | By: <%= tweet.user.name %> | Violation: XXX</li>
  <% end %>
</ul>

<h2>Put some graphs and shit here</h2>
<ul>
<% @group.users.each do |user| %>
  <li><%= link_to "#{user.name}", user %> | Violations: <%= user.violation_count(@group.id) %></li>
<% end %>
</ul>