This is the show page!

<h1><%= @group.name %></h1>

<% if @membership == "nonmember" %>
  <%= link_to "Join", groups_join_path(group: {id: @group.id} ), method: "POST", class: "btn btn-primary" %>
<% elsif @membership == "member" %>
  <%= link_to "Leave", groups_leave_path(group: {id: @group.id}), method: "POST", class: "btn btn-primary" %>
<% end %>

<p><strong>Status:</strong> <%= @group.status %></p>
<p><strong>Purpose:</strong> <%= @group.purpose %></p>
<%= @triggers.pluck(:name) %>
<ul>
  <% @group.tweets.each do |tweet| %>
    <li><%= tweet.content %> | By: <%= tweet.user.name %> | Violation: XXX</li>
  <% end %>
</ul>

<h2>Put some graphs and shit here</h2>
 <!-- violations per user, total raised, most used trigger, violations per day, top violator -->

 <!-- this shouldn't be in the html file but idk where it goes -->

<!--  bar chart - volations per person
 line chart - total raised
 pie chart - most used trigger -->

<!-- <script src="Chart.min.js"></script> -->

<canvas id="line-chart" width="600" height="400"></canvas>
<canvas id="pie-chart" width="600" height="400"></canvas>

<script>
var ctx = []
 ctx.push(document.getElementById("line-chart").getContext("2d"));
 ctx.push(document.getElementById("pie-chart").getContext("2d"));


var data = {
    labels: ["January", "February", "March", "April", "May", "June", "July"],
    datasets: [
        {
            label: "Amount Raised",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        }
    ]
};



var triggerUsageData = [
    {
        value: 300,
        color:"#F7464A",
        highlight: "#FF5A5E",
        label: "Red"
    },
    {
        value: 50,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Green"
    },
    {
        value: 100,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Yellow"
    }
]

var totalRaised = new Chart(ctx[0]).Line(data);


var triggerUsage = new Chart(ctx[1]).Pie(triggerUsageData);

</script>





















<h3>Jarfund: 
  <% if @group.refunded == false %>
    <%= number_to_currency(@group.dollar_balance) %> (<%= User.find(@group.admin_id).name %>)
  <% else %>
    <s><%= number_to_currency(@group.dollar_balance) %></s> REFUNDED (<%= User.find(@group.admin_id).name %>)
  <% end %>
</h3>
<ul>
<% @group.users.each do |user| %>
  <li><%= link_to "#{user.name}", user %> | Violations: <%= user.violation_count(@group.id) %></li>
<% end %>
</ul>
<% if current_user.admin?(@group)%>
  <% if @group.active  %>
    <%= link_to "Close Group", close_group_path(group_id: @group.id), method: "patch"%> 
  <% else %>
    Close Group
  <% end %>|
  <%= link_to "Delete Group", group_path(group_id: @group.id), method: "delete" %><br>
  <% if @group.refunded == false %>
    <em>Didn't raise enough?</em><br>
    <%= link_to "Click here to refund all group members", refund_group_path(group_id: @group.id) %>
  <% else %>
    You have already issued a refund for this group
  <% end %>
<% end %>