This is the show page!
<%= javascript_include_tag "group_show", "Chart", "group_chart" %>
<h1><%= @group.name %></h1>


<!-- hide this button if admin -->
<% unless current_user.admin?(@group) %>
  <div class="join-leave">
    <button type="button" id="<%= @group.id %>" class="<%= current_user.membership(@group) %> btn btn-primary"><%= current_user.action_for_group(@group) %>
    </button>
  </div>
<% end %>


<p><strong>Status:</strong> <%= @group.status %></p>
<p><strong>Purpose:</strong> <%= @group.purpose %></p>
<p><strong>Triggers:</strong> <%= @triggers.pluck(:name).map(&:titleize).join(', ') %></p>
<ul>
  <% @group.tweets.each do |tweet| %>
    <li><%=h tweet.content %> | By: <%= tweet.user.name %> | Violation: <%= tweet.violations_in_group(@group).map(&:titleize).join(', ') %></li>
  <% end %>
</ul>

<h3>Jarfund: 
  <% if @group.refunded == false %>
    <%= number_to_currency(@group.dollar_balance) %> (<%= User.find(@group.admin_id).name %>)
  <% else %>
    <s><%= number_to_currency(@group.dollar_balance) %></s> REFUNDED (<%= User.find(@group.admin_id).name %>)
  <% end %>
</h3>
<ul>
<% @group.users.each do |user| %>
  <li><%= link_to "#{user.name}", user %> | Violations: <%= user.violation_count(@group.id) %></li>
<% end %>
</ul>
<% if current_user.admin?(@group)%>
  <% if @group.active  %>
    <%= link_to "Close Group", close_group_path(group_id: @group.id), method: "patch"%> 
  <% else %>
    Close Group
  <% end %>|
  <%= link_to "Delete Group", group_path(group_id: @group.id), method: "delete" %><br>
  <% if @group.refunded == false %>
    <em>Didn't raise enough?</em><br>
    <%= link_to "Click here to refund all group members", refund_group_path(group_id: @group.id) %>
  <% else %>
    You have already issued a refund for this group
  <% end %>
<% end %>

<% unless @group.violations.size == 0 %>
  <h2>Data!</h2>
  <div class="big-div">
  <div><canvas id="line-chart" width="600" height="400"></canvas><h4 class="text-center">Violations Over Time</h4></div>
  <div><canvas id="pie-chart" width="600" height="400"></canvas><h4 class="text-center">Trigger Usage</h4></div>
  <div><canvas id="bar-chart" width="600" height="400"></canvas><h4 class="text-center">Violations Per User</h4></div>
  </div>
<% end %>

<!-- this shouldn't be in the html file -->
 <script>
// Chart.defaults.global.responsive = true;
// // Chart.defaults.global.scaleIntegersOnly = true
// // Chart.defaults.global.scaleBeginAtZero = true

// var ctx = []
//  ctx.push(document.getElementById("line-chart").getContext("2d"));
//  ctx.push(document.getElementById("pie-chart").getContext("2d"));
//  ctx.push(document.getElementById("bar-chart").getContext("2d"));


// var triggerLabels  = gon.trigger_labels;
// var triggerData = gon.trigger_data;
// var violationLabels = gon.violation_labels;
// var violationData = gon.violation_data;
// var userLabels = gon.user_labels
// var userData = gon.user_data
// var colors = ["rgba(237, 238, 239, 1)", "rgba(127, 140, 141, 1)", "rgba(53, 57, 60, 1)", "rgba(52, 73, 94, 1)", "rgba(141, 170 198, 1)","rgba(59, 145, 47, 1)", "rgba(117, 190, 111, 1)"
// ].reverse()
// var highlightColors = ["rgba(237, 238, 239, .6)", "rgba(127, 140, 141, .6)", "rgba(53, 57, 60, .6)", "rgba(52, 73, 94, .6)", "rgba(141, 170 198, .6)","rgba(59, 145, 47, .6)", "rgba(117, 190, 111, .6)"].reverse()

// var dailyViolationData = {
//     labels: violationLabels,
//     datasets: [
//         {
//             label: "Violations over time",
//             fillColor: "rgba(141,170,198, .5)",
//             strokeColor: "rgba(52,73,94,.8)",
//             pointColor: "rgba(52,73,94,.8)",
//             pointStrokeColor: "rgba(52,73,94,.8)",
//             pointHighlightFill: "rgba(52,73,94,.1)",
//             pointHighlightStroke: "rgba(52,73,94,1)",
//             data: violationData
//         } 
//     ]
// };

// var triggerUsageData = []


// for(var i = 0; i< triggerData.length; i++){
//   triggerUsageData.push(
//       {
//         value: triggerData[i],
//         color: colors[i],
//         highlight: highlightColors[i],
//         label: triggerLabels[i]
//     });
// }
// console.log(userData);
// console.log(userLabels);
// var userViolationData = {
//     labels: userLabels,
//     datasets: [
//         {
//             label: "Violations per User",
//             fillColor: "rgba(138,51,36,1)",
//             strokeColor: "rgba(138,51,36,1)",
//             highlightFill: "rgba(138,51,36,.6)",
//             highlightStroke: "rgba(138,51,36,1)",
//             data: userData
//         }
//     ]
// };

// var userViolationOptions = {scaleBeginAtZero : true}


// var dailyViolations = new Chart(ctx[0]).Line(dailyViolationData, {bezierCurve : false,pointDotRadius : 2});

// var triggerUsage = new Chart(ctx[1]).Pie(triggerUsageData);
// var userViolations = new Chart(ctx[2]).Bar(userViolationData);


// </script>


