This is the show page!

<h1><%= @group.name %></h1>


<!-- hide this button if admin -->
<% unless current_user.admin?(@group) %>
  <div class="join-leave">
    <button type="button" id="<%= @group.id %>" class="<%= current_user.membership(@group) %> btn btn-primary"><%= current_user.action_for_group(@group) %>
    </button>
  </div>
<% end %>


<!-- non-ajax, should still work -->
<%# if @membership == "nonmember" %>
  <%#= link_to "Join", groups_join_path(group: {id: @group.id} ), method: "POST", class: "btn btn-primary" %>
<%# elsif @membership == "member" %>
  <%#= link_to "Leave", groups_leave_path(group: {id: @group.id}), method: "POST", class: "btn btn-primary" %>
<%# end %>

<p><strong>Status:</strong> <%= @group.status %></p>
<p><strong>Purpose:</strong> <%= @group.purpose %></p>
<%= @triggers.pluck(:name) %>
<ul>
  <% @group.tweets.each do |tweet| %>
    <li><%= tweet.content %> | By: <%= tweet.user.name %> | Violation: XXX</li>
  <% end %>
</ul>

<h2>Put some graphs and shit here</h2>
 <!-- violations per user, total raised, most used trigger, violations per day, top violator -->

 <!-- this shouldn't be in the html file but idk where it goes -->
<!-- <script src="Chart.min.js"></script> -->

<canvas id="line-chart" width="600" height="400"></canvas>
<canvas id="pie-chart" width="600" height="400"></canvas>
<canvas id="bar-chart" width="600" height="400"></canvas>

<script>
// Chart.defaults.global.scaleIntegersOnly = true
// Chart.defaults.global.scaleBeginAtZero = true

var ctx = []
 ctx.push(document.getElementById("line-chart").getContext("2d"));
 ctx.push(document.getElementById("pie-chart").getContext("2d"));
 ctx.push(document.getElementById("bar-chart").getContext("2d"));


var triggerLabels  = gon.trigger_labels;
var triggerData = gon.trigger_data;
var violationLabels = gon.violation_labels;
var violationData = gon.violation_data;
var userLabels = gon.user_labels
var userData = gon.user_data

var dailyViolationData = {
    labels: violationLabels,
    datasets: [
        {
            label: "Violations over time",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: violationData
        }
    ]
};

var triggerUsageData = []
var colors = ["#edeeef", "#7f8c8d", "#35393c", "#34495e", "#8daac6", "#3b912f", "#75be6f"
].reverse()

for(var i = 0; i< triggerData.length; i++){
  triggerUsageData.push(
      {
        value: triggerData[i],
        color: colors[i],
        highlight: "#FFC870",
        label: triggerLabels[i]
    });
}

var userViolationData = {
    labels: userLabels,
    datasets: [
        {
            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.5)",
            strokeColor: "rgba(220,220,220,0.8)",
            highlightFill: "rgba(220,220,220,0.75)",
            highlightStroke: "rgba(220,220,220,1)",
            data: userData
        }
    ]
};

var userViolationOptions = {scaleBeginAtZero : true}


var dailyViolations = new Chart(ctx[0]).Line(dailyViolationData);

var triggerUsage = new Chart(ctx[1]).Pie(triggerUsageData, {percentageInnerCutout : 50});
var userViolations = new Chart(ctx[2]).Bar(userViolationData, {scaleOverride: true, 
    // Number - The number of steps in a hard coded scale
    scaleSteps: (Math.max.apply(Math, userData) + 1),
    // Number - The value jump in the hard coded scale
    scaleStepWidth: 1,
    // Number - The scale starting value
    scaleStartValue: 0,
    barStrokeWidth : .2,
    barValueSpacing : 10
  });


</script>


<h3>Jarfund: 
  <% if @group.refunded == false %>
    <%= number_to_currency(@group.dollar_balance) %> (<%= User.find(@group.admin_id).name %>)
  <% else %>
    <s><%= number_to_currency(@group.dollar_balance) %></s> REFUNDED (<%= User.find(@group.admin_id).name %>)
  <% end %>
</h3>
<ul>
<% @group.users.each do |user| %>
  <li><%= link_to "#{user.name}", user %> | Violations: <%= user.violation_count(@group.id) %></li>
<% end %>
</ul>
<% if current_user.admin?(@group)%>
  <% if @group.active  %>
    <%= link_to "Close Group", close_group_path(group_id: @group.id), method: "patch"%> 
  <% else %>
    Close Group
  <% end %>|
  <%= link_to "Delete Group", group_path(group_id: @group.id), method: "delete" %><br>
  <% if @group.refunded == false %>
    <em>Didn't raise enough?</em><br>
    <%= link_to "Click here to refund all group members", refund_group_path(group_id: @group.id) %>
  <% else %>
    You have already issued a refund for this group
  <% end %>
<% end %>