<div class="blue-box"></div>

<div class="header">
  <h1><%= @group.name.titleize %> <span class="big-status <%= @group.status %>"><%= @group.status %></span></h1>
  
  <% unless current_user.admin?(@group) %>
    <div class=" join-leave create-group text-right">
      <button type="button" id="<%= @group.id %>" class="<%= current_user.membership(@group) %> btn btn-primary"><%= current_user.action_for_group(@group) %> Group
      </button>
    </div>
  <% end %>
</div>

<div class="group-wrapper">

<!-- FOR AJAX CALLS -->
<%= javascript_include_tag "group_show", "Chart", "group_chart" %>

    <!-- LEFT SIDE -->
    <div class="col-md-3">
      
      <!-- MONEY RAISED -->
      <div class="custom-panel">
        <div class="custom-panel-border"></div>
        <div class="custom-panel-content">
          <h3>Money Raised</h3>
          <div class="text-center jar-fund-amount">
            <% if @group.refunded == false %>
              <h4><%= number_to_currency(@group.dollar_balance) %></h4>
            <% else %>
              <h4><s><%= number_to_currency(@group.dollar_balance) %></s><h4>
              <h5>REFUNDED</h5>
            <% end %>
          </div>
        </div>
      </div><!-- end MONEY RAISED -->

      <!-- INFO -->
      <div class="custom-panel">
        <div class="custom-panel-border"></div>
        <div class="custom-panel-content">
          <h3>Group Info</h3>
          <ul class="info-list">
            <li><strong>Goal:</strong> <span class="tag-box no-box text-center"><%= @group.purpose.titleize %></span></li>
            <li><strong>Cost per tweet:</strong> <span class="tag-box cost-tag text-center"><%= number_to_currency(@group.dollar_amount) %></span></li>
            <li><strong>Admin:</strong> <%= link_to @group.admin.name, user_path(@group.admin), class: "user-select admin-select text-center" %></li>
            <li><strong>Triggers: </strong><% @group.triggers.each do |trigger| %>
              <span class="tag-box text-center"><%= trigger.name.upcase %></span>
            <% end %>
            </li>
            <li><strong>Members: </strong><% @group.users.each do |user| %>
              <%= link_to user.name, user_path(user), class: "user-select text-center" %>
            <% end %>
            </li>
          </ul>
        </div>
      </div><!-- end INFO -->

      <!-- Toolbar -->
      <% if current_user.admin?(@group)%>
      <div class="custom-panel">
        <div class="custom-panel-border"></div>
        <div class="custom-panel-content">
          <h3>Toolbar</h3>
          <% if @group.active  %>
          <!-- Button trigger modal -->
            <p><button class="btn btn-default btn-lg" data-toggle="modal" data-target="#closeGroup">
              Close Group
            </button></p>
            <%#= link_to "Close Group", close_group_path(group_id: @group.id), method: "patch", class: "btn btn-default btn-lg"%>
          <% else %>
            <p><%= link_to "Delete Group", group_path(group_id: @group.id), method: "delete", class: "btn btn-default btn-lg" %></p>
          <% end %>
          <% if @group.refunded == false %>
            <p><%= link_to "Refund Members", refund_group_path(group_id: @group.id), class: "btn btn-default btn-lg" %></p>
          <% else %>
            <p><button class="btn btn-default btn-lg disabled">Refund Issued</button></p>
          <% end %>
        </div>
      </div>
      <% end %><!-- end Toolbar -->

    </div><!-- end LEFT SIDE -->

    <!-- RIGHT SIDE -->
    <div class="col-md-9">

      <!-- RECENT VIOLATIONS -->
      <div class="custom-panel">
        <div class="custom-panel-border"></div>
        <div class="custom-panel-content">
          <h3>Recent Violations</h3>
          <% if @group.tweets != [] %>
            <% @group.tweets.last(3).each do |tweet| %>
              <div class="group-box tweet-box col-sm-10">
                <div class="tweet-info text-right">
                  <%= link_to tweet.user.name, user_path(tweet.user) %> | <em><%= distance_of_time_in_words(Time.now - tweet.created_at) %> ago</em> |<% tweet.violations_in_group(@group).each do |t| %> 
                    <span class="tag-box little-box text-center"><%= t.name.upcase %></span>
                  <% end %>
                </div>
                <div class="top-box">
                  <div class="group-img-box">
                    <%= image_tag tweet.user.image_url, class: "group-img" %>
                  </div>
                  <div class="right-text">
                    <p>"<%=h tweet.content %>"</p>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            You aint got not violations
          <% end %>
        </div>
      </div><!-- end RECENT VIOLATIONS -->
      

      <!-- DATA VIZ -->
      <% unless @group.violations.size == 0 %>
      <div class="custom-panel">
        <div class="custom-panel-border"></div>
        <div class="custom-panel-content">
          <h3>Data!</h3>
          <div class="row">
            <!-- GRAPH 1 -->
            <div class="col-sm-6">
              <div class="chart"><canvas id="bar-chart" width="600" height="400"></canvas><h4 class="text-center">Violations Per User</h4></div>
            </div><!-- end GRAPH 1 -->

            <!-- GRAPH 2 -->
            <div class="col-sm-6">
                <div class="chart"><canvas id="pie-chart" width="600" height="400"></canvas><h4 class="text-center">Trigger Usage</h4></div>
            </div><!-- end GRAPH 2 -->
            
          </div><!-- end ROW -->

          <!-- GRAPH 3 -->
          <div class="col-sm-12">
            <div class="chart"><canvas id="line-chart" width="600" height="250"></canvas><h4 class="text-center">Violations Over Time</h4></div>
          </div><!-- end GRAPH 3 -->
        </div>
      </div>
      <% end %><!-- end DATA VIZ -->


    </div><!-- end RIGHT SIDE -->

  <div class="clearfix"></div>
</div><!-- end GROUP WRAPPER -->

<%= render "closed_modal" %>


