This is a user page!


<h1><%= @user.name %></h1>

<%= image_tag @user.image_url, class: "profile_image" %>

<h2>Violations!</h2>

<ul>
  <% @user.violations.each do |violation| %>
    <li><%= violation.tweet.content %></li>
  <% end %>
</ul>

<h2>Groups</h2>
<h3>Admin</h3>
<ul>
  <% @user.admin_groups_active.each do |group| %>
    <li><%= link_to "#{group.name}", group %> | <%= link_to "Close Group", close_group_path(group_id: group.id), method: "patch" %></li>
  <% end %>  
  <% @user.admin_groups_closed.each do |group| %>
    <li><%= link_to "#{group.name}", group %> | <%= link_to "Delete Group", group_path(group_id: group.id), method: "delete" %></li>
  <% end %>
</ul>
<h3>User</h3>
<ul>
  <% @user.user_groups.each do |group| %>
    <li><%= link_to "#{group.name}", group %></li>
  <% end %>
</ul>

<% if @user == current_user %>
<p>
  <%= link_to "Join a group", groups_join_path %><br>
  <%= link_to "Create a group", new_group_path %>
</p>
<% end %>

<% if current_user.venmo_id %>
  You have authorized Venmo 
<% else %>
  <%= link_to 'Authorize Venmo', venmo_login_path %>
<% end %>