<div class="blue-box"></div>

<div class="header text-right">
  <h1>Welcome, <%= @user.name %>!</h1>
</div>

<div class="user-top">
  
   <!-- LEFT SIDE -->
  <div class="col-sm-3">
    <div class="user-img">
      <%= image_tag @user.image_url, class: "profile_image" %>
    </div>

  <!-- VIOLATIONS -->
  <div class="custom-panel">
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
      <h3>Latest Violation:</h3>
      <% if @latest_violation %>
        <p>"<%=h @latest_violation_content %>"</p>
        <p class="text-muted text-right"><em><%= distance_of_time_in_words(Time.now - @latest_violation.created_at) %> ago</em></p>
      <% else %>
        <p>"<%= @latest_violation_content %>"</p>
      <% end %>
    </div>
  </div>

  <% if current_user == @user %>
  <!-- JOIN GROUP -->
  <div class="custom-panel">
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
      <h3>Toolbar</h3>
      <p><%= link_to 'Join a Group', groups_path, class: "btn btn-default btn-lg" %></p>
      <p><%= link_to 'Create a Group', new_group_path, class: "btn btn-default btn-lg" %></p>
    </div>
  </div>
  <% end %>

  </div><!-- end LEFT SIDE -->

  <!-- RIGHT SIDE -->
  <div class="col-sm-9">

  <!-- GROUPS -->
  <div class="custom-panel ">
    <!-- Violations -->
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
    <h3>Your Groups:</h3>
      <% if @user.groups != [] %>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Admin</h2>
          <% if @user.admin_groups != [] %>
            <%= render "admin_group_module" %>
          <% else %>
          <div class="group-box error-box tweet-box col-sm-10">
            <div class="top-box text-center">
                <h3>You are not the admin of any groups.</h3>
                <p>I think it's time to make one! What are you waiting for? Go make one.</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h2>User</h2>
          <% if @user.user_groups != [] %>
            <%= render "user_group_module" %>
          <% else %>
            <div class="group-box error-box tweet-box col-sm-10">
              <div class="top-box text-center">
                <h3>You're not a member of any groups.</h3>
                <p>Don't you have any friends? Why not join <strong><%= Group.all.sample.name.titleize %></strong>?</p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% else %>
        <div class="group-box error-box tweet-box col-sm-10">
          <div class="top-box text-center">
              <h3>You look lonely... you don't belong to any groups.</h3>
              <p>Why not join one</strong>?</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  </div><!-- end RIGHT SIDE -->

</div><!-- end USER TOP -->


