<div class="blue-box"></div>

<div class="header text-right">
  <h1>Welcome, <%= @user.name %>!</h1>
</div>

<div class="clearfix"></div>

<div class="user-top">
  
  <div class="col-sm-3">
    <div class="user-img">
      <%= image_tag @user.image_url, class: "profile_image" %>
    </div>

    <!-- VIOLATIONS -->
  <div class="recent-violations">
    
    <div class="box-title">
      <h3>Latest Violation:</h3>
    </div>
    <div class="latest-violation">
      <% if @latest_violation %>
        <p>"<%= @latest_violation_content %>"</p>
        <p class="text-muted text-right"><em><%= @latest_violation.minutes_ago %> minutes ago</em></p>
      <% else %>
        <p>"<%= @latest_violation_content %>"</p>
      <% end %>
    </div>
  </div>
  </div>

    <!-- GROUPS -->

  <div class="recent-violations col-xs-9">
    <!-- Violations -->
    <div class="box-title">
      <h3>Your Groups:</h3>
    </div>
    <div class="latest-violation">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Admin</h2>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>User</h2>
        </div>
      </div>
      <div class="clearfix"></div>

    </div>
  </div>

</div>

<div class="clearfix"></div>

<div class="wrapper row">
  




  

</div>

