<div class="blue-box"></div>

<div class="header text-right">
  <h1>Welcome, <%= @user.name %>!</h1>
</div>

<div class="user-top">
  
   <!-- LEFT SIDE -->
  <div class="col-sm-3">
    <div class="user-img">
      <%= image_tag @user.image_url, class: "profile_image" %>
    </div>

  <!-- VIOLATIONS -->
  <div class="custom-panel">
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
      <h3>Latest Violation:</h3>
      <% if @latest_violation %>
        <p>"<%=h @latest_violation_content %>"</p>
        <p class="text-muted text-right"><em><%= @latest_violation.minutes_ago %> minutes ago</em></p>
      <% else %>
        <p>"<%= @latest_violation_content %>"</p>
      <% end %>
    </div>
  </div>


  <!-- JOIN GROUP -->
  <div class="custom-panel">
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
      <h3>Toolbar</h3>
      <p><%= link_to 'Join a Group', groups_path, class: "btn btn-default btn-lg" %></p>
      <p><%= link_to 'Create a Group', new_group_path, class: "btn btn-default btn-lg" %></p>
    </div>
  </div>

  </div><!-- end LEFT SIDE -->

  <!-- RIGHT SIDE -->
  <div class="col-sm-9">

  <!-- GROUPS -->
  <div class="custom-panel ">
    <!-- Violations -->
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
    <h3>Your Groups:</h3>

      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Admin</h2>
          <%= render "admin_group_module" %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <h2>User</h2>
          <%= render "user_group_module" %>
        </div>
      </div>
    </div>
  </div>

  </div><!-- end RIGHT SIDE -->

</div><!-- end USER TOP -->


