<% if current_user.encrypted_token %>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="custom-panel">
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
      <%= render 'application/logo' %>
      <div class="venmo-panel">

        <h2 class="text-center">Hi <%= current_user.first_name %>!</h2>
        
        <div class="panel-copy text-center">
          <h3>Thanks for authorizing Venmo.</h3>
        </div>

        <div class="text-center venmo-btn">
        <%= link_to 'See Your User Page', user_path(current_user), class: "btn btn-success btn-lg" %>
        </div>
      </div>
      </div>
    </div>
<% else %>
  
  <div class="col-sm-6 col-sm-offset-3">
    <div class="custom-panel">
    <div class="custom-panel-border"></div>
    <div class="custom-panel-content">
      <%= render 'application/logo' %>
      <div class="venmo-panel">

        <h2 class="text-center">Hi <%= current_user.first_name %>!</h2>
        
        <div class="panel-copy">
          <h3>You're almost ready to go. Just connect your Venmo account, and you can start using Swear Jar!</h3>
        </div>

        <div class="text-center venmo-btn">
        <%= link_to 'Authorize Venmo', venmo_login_path, class: "btn btn-success btn-lg" %>
        </div>
      </div>
      </div>
    </div>
  </div>

<% end %>