<!DOCTYPE html>
<html>
<head>
  <title>Swear Jar</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= include_gon %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "https://pbs.twimg.com/profile_images/498934830692712448/ZqD4hKkd.png", height: "50", width: "50"  %>
      <div class="header-logo">
        <%= link_to "Swear Jar", "#" %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <% unless logged_in? %>
        <li><%= link_to "Learn How Swear Jar Works" %></li>
      <% end %>
      </ul>

    <!-- BEGIN NAV-BAR RIGHT -->
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li><%= link_to "Groups", groups_path %></li>
          <li><%= link_to "Messages", user_messages_path(current_user) %><span class="label label-danger"><%= current_user.new_message_count %></span></li>
          <li><%= link_to current_user.name, user_path(current_user), class: "small-nav" %></li>
          <li><%= link_to 'Log Out', logout_path, class: "btn btn-primary small-btn" %></li>
        <% else %>
          <li><%= link_to 'Log In with Twitter', twitter_login_path, class: "btn btn-primary" %></li>
        <% end %>
          <li>
            <div class="admin-button">
              <button class="scan btn btn-primary small-btn" type="button">Scan</button>
            </div>
          </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if flash[:error] %>
  <p class='error'><%=h flash[:error] %></p>
<% end %>
<% if flash[:notice] -%>
  <p class='notice'><%=h flash[:notice] %></p>
<% end %>

<div id="wrap">
  <div id ="main" class="container">
    <%= yield %>
  </div>
</div>

<div class="buffer"></div>

<footer class="footer">
  <div class="container text-center">
    <p>This site was made by <a href="https://github.com/amyrjohnson">Amy Johnson</a>, <a href="https://github.com/jbarrieault">Jacob Barrieault</a> and <a href="https://github.com/mrmitchboyer">Mitch Boyer</a> at <a href="http://flatironschool.com">The Flatiron School</a> | <%= link_to "Learn How Swear Jar Works" %></p>
  </div>
</footer>

</body>
</html>